.card {
    margin: 30px;
    border-radius: 10px;
    overflow: hidden;
    background-color: black;
    box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
    transition: transform 100ms ease-in;
    cursor: pointer;
    height: 150vh;
    text-overflow: ellipsis;
    max-width: 30vw;
}