a.MuiListItemButton-root.MuiButtonBase-root.css-dbbdxt-MuiButtonBase-root-MuiListItemButton-root {
    color: #f1f1f1;
}

ul.MuiList-root.MuiList-padding.MuiMenu-list.css-6hp17o-MuiList-root-MuiMenu-list{
    background-color: #042534;
}

.css-tw7mgo-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper{
    color: #042534;
    border: solid lightgray 1px;
}